*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #c4ebf9;
}
.wrap{
    width: 1200px;
    margin: 40px;
}

header{
    height: 50px;
    background-color: #02bfb1;
    display: grid;
    place-content: center;
}
.main{
    float: left;
    margin-top: 40px;
    overflow: hidden;
}
.aside{
    float: left;
    background-color: #6edb6e;
    width: 400px;
    height: 500px;
    display: grid;
    place-content: center;
}
.article{
    float: right;
    width: 760px;
    height: 500px;
    background-color: #fbb04c;
    margin-left: 40px;
    position: relative;
}
.images{
    margin-top: 40px;
    
}
.img1{
    position: absolute;
    width: 200px;
    height: 200px;
bottom: 0px;
    background-color: #fcd24a;
    margin-bottom: 40px;
    margin-left: 40px;
    display: grid;
    place-content: center;
    font-size: 25px;
    color: white;
    font-weight: bold;
}   
.img2{
    position: absolute;
    width: 200px;
    height: 200px;
   bottom: 0px;
    background-color: #fcd24a;
    margin-bottom: 40px;
    margin-left: 280px;
    display: grid;
    place-content: center;
    font-size: 25px;
    color: white;
    font-weight: bold;
}
.img3{
    position: absolute;
    width: 200px;
    height: 200px;
   bottom: 0px;
    background-color: #fcd24a;
    margin-bottom: 40px;
    margin-left: 520px;
    display: grid;
    place-content: center;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

footer{
   margin-top: 580px;
    height: 50px;
    background-color: #02bfb1;
    display: grid;
    place-content: center;
}
.article p{
    text-align: center;
    padding-top: 170px;
}
p{
    font-size: 25px;
    color: white;
    font-weight: bold;
}